.app{
  background-color: rgb(188, 188, 188);
  height: 100%;
  width: 99%;
 padding-top:0.2em;
}
.progressBar{

  height: 100vh;
  width: 100%;
  align-content: center ;
  text-align: center;
}
.appContainer{
  display: flex;
  
  height:auto;
  width: 100%;
  border-radius: 1em;
  background-color: #DFDFE3;
  margin-top: 10px;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
.forcastContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.myWraper{
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}
@media only screen and (min-width: 1250px ) {

    .myWraper{
      align-items: center;
    }
}
@media only screen and (max-width: 1249px ) {

    .myWraper{
      align-items: center;
      flex-direction: row;
    }
}
@media only screen and (max-width: 1000px) {
   
  .myWraper{
      align-items: normal;
      flex-direction: column;
    }
    
}
@media only screen and (min-width: 1200px ) {

    .myWraper{
      align-items: center;
    }
}
@media only screen and (max-width: 800px) {

    .appContainer{
     height: auto;
     }
}
@media only screen and (max-width: 1250px) {
   
   .appContainer{
      
      height: auto;
     }
    
}

@media only screen and (max-width: 1600px) {

    .appContainer{
      
      flex-direction: column;
     }
    .forcastContainer{
      flex-direction: row;
      justify-content: space-around;
      
    }
}